@import "normalize.css";
:root {
  --color-text: rgb(190, 186, 186);
  --color-txt: #e6e6e6;
  --color-high-text: #ff5777;
  --color-tint: #ee537a;
  --color-background: #fff;
  --font-size: 14px;
  --line-height: 1.5;
  --color-active-default: rgb(253, 6, 130);
  --top-margin: 40px;
  --base-bg-color: rgba(70, 70, 70, 1);
  --base-bg-color-sec: rgba(35, 35, 35, .8);
  --base-bg-color-thr: rgba(63, 63, 63, 1);
  --base-bg-color-white: rgba(230,230,230, 1);
  --base-item-color-white: rgba(241,241,241, 1);
  --base-set-item-color: rgb(50, 50, 50);
  --base-set-bg-color: rgb(39, 39, 39);
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  user-select: none;
  /* 禁止用户鼠标在页面上选中文字/图片等 */
  -webkit-tap-highlight-color: transparent;
  /* webkit是苹果浏览器引擎，tap点击，highlight背景高亮，color颜色，颜色用数值调节 */
  background: var(--color-background);
  color: var(--color-text);
  width: 100vw;
}
a {
  color: var(--color-text);
  text-decoration: none;
}
.clear-fix::after {
  clear: both;
  content: '';
  display: block;
  width: 0;
  height: 0;
  visibility: hidden;
}
.clear-fix {
  zoom: 1;
}
.arrow-right {
  border-top: 1px solid #999;
  border-left: 1px solid #999;
  width: 9px;
  height: 9px;
  background-color: transparent;
  transform: rotate(135deg);
  display: inline-block;
  margin-left: 0.1rem;
}
.left {
  float: left;
}
.right {
  float: right;
}

.to-active {
  animation: toActive 0.15s linear forwards;
}
.to-default {
  animation: toDefault 0.15s linear forwards;
}

@keyframes toActive {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes toDefault {
  from {
    opacity: 1;
    transform: translate(0, 0);
  }
  to {
    opacity: 0;
    transform: translate(100%, 0);
  }
}
